@import "./base/variables";
.about {
    background: linear-gradient(rgba($primary-pink, 0.6), rgba($primary-pink, 0.6)), url("../images/flower1.jpg");
    background-repeat-x: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.bio {
    font-size: 25px;
    font-weight: 100;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    orphans: 3;
}
.ravia {
    display: block;
    margin-top: 1em;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
