.contact {
    background-color: $primary-pink;
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    justify-content: center;
    &:hover{
      background-color: $secondary-pink;
    }
    .title {
        font-size: 40px;
        color: white;
        text-decoration: none;
    }
}
