.footer {
    height: auto;
    background-color: white;
    color: black;
    padding: 20px;
    .images {
      width: 100%;
      text-align: center;
        img {
            max-width: 30px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .designed {
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        font-weight: 300;
        margin-bottom: 0.5em;
    }
    .quote {
        width: 100%;
        text-align: center;
        margin-top: 0;
        font-weight: 300;
        font-style: italic;
    }
}
