@import "./base/variables";
header {
    position: relative;
    min-height: 90%;
    min-width: 100%;
    background: url("../images/no-brush.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    .greeting {
        position: absolute;
        top: 45%;
        font-weight: 100;
        left: 10%;
        font-size: 45px;
        z-index: 1;
    }
    .brush {
        width: 300px;
        height: 300px;
        background: url("../images/brush-solo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: 150px;
    }
}
.nav-start {
    position: fixed;
    width: 100%;
    margin: 0;
    height: auto;
    font-weight: 100;
    font-size: 20px;
    padding: 0;
    z-index: 1999;
    -webkit-transition: background-color 600ms linear;
    -moz-transition: background-color 600ms linear;
    -o-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
    .col {
        padding: 0;
    }
    .navigation {
        width: 50%;
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
        // min-width: 700px;
        overflow: auto;
        max-width: $max-width-for-sections;
        margin: 0 auto;
        overflow: hidden;
        .logo {
            padding: 0;
            .inner-logo {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: 100%;
                max-width: 100px;
            }
            .svg-pink {
                path {
                    fill: $primary-pink;
                    stroke: $primary-pink;
                }
                polygon {
                    stroke: $primary-pink;
                }
                .ribbon {
                    path {
                        fill: rgba(0,0,0,0);
                        stroke: $primary-pink;
                    }
                    polygon {
                        stroke: $primary-pink;
                    }
                }
            }
            .svg-black {
                path {
                    fill: lighten(black, 20%);
                    stroke: lighten(black, 20%);
                }
                polygon {
                    stroke: lighten(black, 20%);
                }
                .ribbon {
                    path {
                        fill: rgba(0,0,0,0);
                        stroke: black;
                    }
                    polygon {
                        stroke: black;
                    }
                }
            }
        }
        .nav-item {
            padding: 0;
            text-align: center;
            a {
                padding: 30px 0;
                color: white;
                text-decoration: none;
            }
            a:hover {
                color: #999;
            }
        }
        .nav-item:nth-child(1) {
            padding-left: 20px;
        }
        .nav-item:last-of-type {
            padding-left: 15px;
        }
    }
    .c-hamburger {
        display: none;
    }
    .logo_mobile {
        display: none;
    }
}
.tinted-nav {
    background: white;
    .navigation > .nav-item > a {
        color: lighten($primary-pink, 10%);
    }
}
.black-tint {
    background-color: rgba(255, 255, 255, 0.8);
    .navigation > .nav-item > a {
        color: black;
    }
}
.blackish-tint {
    background-color: rgba(0,0,0,.4);
}
