header {
    position: relative;
    height: 90%;
    background: url("/images/no-brush.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    h1 {
        position: absolute;
        top: 45%;
        font-weight: 100;
        left: 10%;
        font-size: 45px;
    }
    .brush {
        width: 300px;
        height: 300px;
        background: url("/images/brush-solo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: 150px;
    }
}
.nav-start {
    position: fixed;
    width: 100%;
    height: 105px;
    font-weight: 100;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    .navigation {
        padding: 0;
        margin: 0;
        list-style-type: none;
        .logo {
            padding: 0;
            background-image: url("/images/logo.svg");
            width: 20%;
            height: 105px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .nav-item {
            padding: 0;
            width: 20%;
            text-align: center;
            a {
                padding: 30px;
                color: white;
                text-decoration: none;
            }
        }
    }
}
.tinted-nav {
    background-color: black;
}
@media (max-width: 700px) {
    .closed {
        ul {
            display: none;
        }
    }
    .open {
        height: 400px;
    }
}
