header {
    position: relative;
    height: 90%;
    background: url("/images/no-brush.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    h1 {
        position: absolute;
        top: 45%;
        font-weight: 100;
        left: 10%;
        font-size: 45px;
    }
    .brush {
        width: 300px;
        height: 300px;
        background: url("/images/brush-solo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: 150px;
    }
}
.nav-start {
    position: fixed;
    width: 100%;
    height: auto;
    font-weight: 100;
    font-size: 25px;
    margin: 0;
    padding: 0;
    z-index: 1999;
    .col {
        padding: 0;
    }
    .navigation {
        width: 50%;
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
        .logo {
            padding: 0;
            background-image: url("/images/logo.svg");
            width: 20%;
            height: 105px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .nav-item {
            padding: 0;
            text-align: center;
            a {
                padding: 30px 0;
                color: white;
                text-decoration: none;
            }
        }
        .nav-item:nth-child(1){
          padding-left: 20px;
        }
        .nav-item:nth-child(4) {
            padding-left: 20px;
        }
        .nav-item:last-of-type {
            padding-left: 30px;
        }
    }
    .c-hamburger {
        display: none;
    }
}
.tinted-nav {
    background-color: black;
}
@media(max-width: 900px) {
    .nav-item {
        font-size: 20px;
    }
}
@media (max-width: 700px) {
    .nav-start {
        .navigation {
            margin: 0;
            width: 300px;
            font-size: 20px;
            background-color: lighten($primary-pink, 10%);
            .logo {
                display: none;
            }
            .nav-item {
                padding: 30px;
                text-align: center;
                border-bottom-style: solid;
                border-bottom-width: 1px;

                a{
                  padding: 30px 50px 30px 50px;
                }
            }
            .nav-item:last-of-type {
                border: none;
            }
        }
        .closed {
            transform: translate(0, -400px);
            transition: transform 1s;
        }
        .open {
            transform: translate(0, 0);
            transition: transform 1s;
        }
        @import "./tools/hamburger.scss";
    }
}
