<section class="about" id="about">
    <div class="grid grid-wrapper">
        <div class="grid__col grid__col--2-of-2">
            <h1 class="title">About</h1>
        </div>
        <div class="ravia-container grid__col grid__col--am grid__col--push-1-of-12 grid__col--3-of-12 grid__col--m-2-of-2 grid__col--am">
            <img class="ravia" src="images/ravia.png" />
        </div>
        <div class="grid__col grid__col--6-of-12 grid__col--push-2-of-12 grid__col--m-5-of-6 grid__col--am">
            <p class="bio">
                Ravia Khagura is a makeup artist in Delta, BC specializing in weddings and graduations. She will work hard to make sure that you’re looking your best for all your special ocassions. To book her for your next event, contact&nbsp;her&nbsp;today!
            </p>
        </div>
    </div>
</section>
