<header>
    <nav>
        <ul class="navigation">
            <li class="nav-item">
                <a href="#home">HOME</a>
            </li>
            <li class="nav-item">
                <a href="#about">ABOUT</a>
            </li>
            <li class="nav-item logo">
            </li>
            <li class="nav-item">
                <a href="#portfolio">PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a href="#contact">CONTACT</a>
            </li>
        </ul>
    </nav>
    <h1 id="greeting">Helping you bring out<br/>your most beautiful self</h1>
    <div class="brush"></div>
</header>
