<nav class="nav-start">
    <ul class="navigation grid closed">
        <li class="grid__col grid__col--1-of-5 grid__col--am nav-item">
            <a href="#home">Home</a>
        </li>
        <li class="grid__col grid__col--1-of-5 grid__col--am nav-item">
            <a href="#about">About</a>
        </li>
        <li class="grid__col grid__col--1-of-5 grid__col--am logo">
          {% include logo.svg %}
        </li>
        <li class="grid__col grid__col--1-of-5 grid__col--am nav-item">
            <a href="#portfolio">Portfolio</a>
        </li>
        <li class="grid__col grid__col--1-of-5 grid__col--am nav-item">
            <a href="#contact">Contact</a>
        </li>
    </ul>
    <button class="c-hamburger c-hamburger--htla">
        <span>toggle menu</span>
    </button>
</nav>
<header id="home">
    <h1 class="greeting" id="greeting">Helping you bring out<br/>your most beautiful self</h1>
    <div class="brush" id="brush"></div>
</header>
