<header>
    <nav class="nav-start row">
      <div class="col--10-of-12 col--push-1-of-12">
        <ul class="navigation row">
            <li class="col col--1-of-5 col--am nav-item">
                <a href="#home">HOME</a>
            </li>
            <li class="col col--1-of-5 col--am nav-item">
                <a href="#about">ABOUT</a>
            </li>
            <li class="col col--1-of-5 col--am logo">
            </li>
            <li class="col col--1-of-5 col--am nav-item">
                <a href="#portfolio">PORTFOLIO</a>
            </li>
            <li class="col col--1-of-5 col--am nav-item">
                <a href="#contact">CONTACT</a>
            </li>
        </ul>
      </div>
    </nav>
    <h1 id="greeting">Helping you bring out<br/>your most beautiful self</h1>
    <div class="brush"></div>
</header>
