<section class="portfolio" id="portfolio">
    <div class="grid grid-wrapper">
        <div class="grid__col grid__col--2-of-2">
            <h1 class="title">Portfolio</h1>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--m-1-of-3 grid__col--am">
            <a href="images/portfolio/image1-1024.JPG" data-lightbox="set" data-title="My caption 1">
                <img src="images/thumbnails/image1-350x350.JPG" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--m-1-of-3  grid__col--am">
            <a href="images/portfolio/image2-1024.JPG" data-lightbox="set" data-title="My caption 2">
                <img src="images/thumbnails/image2-350x350.JPG" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--m-1-of-3  grid__col--am">
            <a href="images/portfolio/image3-1024.JPG" data-lightbox="set" data-title="My caption 3">
                <img src="images/thumbnails/image3-350x350.JPG" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--m-1-of-3  grid__col--am">
            <a href="images/portfolio/image4-1024.JPG" data-lightbox="set" data-title="My caption 1">
                <img src="images/thumbnails/image4-350x350.JPG" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--m-1-of-3  grid__col--am">
            <a href="images/portfolio/image5-1024.JPG" data-lightbox="set" data-title="My caption 2">
                <img src="images/thumbnails/image5-350x350.JPG" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--m-1-of-3  grid__col--am">
            <a href="images/portfolio/image6-1024.JPG" data-lightbox="set" data-title="My caption 3">
                <img src="images/thumbnails/image6-350x350.JPG" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--m-1-of-3  grid__col--am">
            <a href="images/portfolio/image7-1024.JPG" data-lightbox="set" data-title="My caption 1">
                <img src="images/thumbnails/image7-350x350.JPG" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--m-1-of-3  grid__col--am">
            <a href="images/portfolio/image8-1024.JPG" data-lightbox="set" data-title="My caption 2">
                <img src="images/thumbnails/image8-350x350.JPG" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--m-1-of-3  grid__col--am">
            <a href="images/portfolio/image9-1024.JPG" data-lightbox="set" data-title="My caption 3">
                <img src="images/thumbnails/image9-350x350.JPG" />
            </a>
        </div>
    </div>
</section>
