<section class="portfolio" id="portfolio">
    <div class="grid grid-wrapper">
        <div class="grid__col grid__col--2-of-2">
            <h1 class="title">Portfolio</h1>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--am">
            <a href="http://placehold.it/500x500" data-lightbox="set" data-title="My caption 1">
                <img src="http://placehold.it/350x350" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--am">
            <a href="http://placehold.it/500x500" data-lightbox="set" data-title="My caption 2">
                <img src="http://placehold.it/350x350" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--am">
            <a href="http://placehold.it/500x500" data-lightbox="set" data-title="My caption 3">
                <img src="http://placehold.it/350x350" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--am">
            <a href="http://placehold.it/500x500" data-lightbox="set" data-title="My caption 1">
                <img src="http://placehold.it/350x350" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--am">
            <a href="http://placehold.it/500x500" data-lightbox="set" data-title="My caption 2">
                <img src="http://placehold.it/350x350" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--am">
            <a href="http://placehold.it/500x500" data-lightbox="set" data-title="My caption 3">
                <img src="http://placehold.it/350x350" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--am">
            <a href="http://placehold.it/500x500" data-lightbox="set" data-title="My caption 1">
                <img src="http://placehold.it/350x350" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--am">
            <a href="http://placehold.it/500x500" data-lightbox="set" data-title="My caption 2">
                <img src="http://placehold.it/350x350" />
            </a>
        </div>
        <div class="thumbnail grid__col grid__col--1-of-3 grid__col--am">
            <a href="http://placehold.it/500x500" data-lightbox="set" data-title="My caption 3">
                <img src="http://placehold.it/350x350" />
            </a>
        </div>
    </div>
</section>
