@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100");
$primary-pink: rgb(250, 103, 188);
$secondary-pink: rgb(245, 37, 73);
$font: 'Roboto', sans-serif;
$max-width-for-sections: 1100px;
$small-breakpoint: 480px;
$medium-breakpoint: 800px;
$medium-large-breakpoint: 950px;
